{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block content %}
    <form id="add" class="ink-form" method="post" action="#" onsubmit="return Ink.UI.FormValidator_1.validate(this);">
        <fieldset class="column-group quarter-gutters">
            <div class="control-group large-100 medium-100 small-100">
                <div class="control">
                    <input type="text" name="name" id="name" placeholder="Name" class="ink-fv-required" />
                </div>
            </div>
        </fieldset>
        <fieldset class="column-group quarter-gutters">
            <div class="control-group medium-100 small-100">
                <ul class="control unstyled inline">
                    <li>
                        <input type="radio" class="horizontal-space" id="hc11" name="hc1" value="1">
                    </li>
                    <li>
                        <input type="radio" class="horizontal-space" id="hc21" name="hc2" value="1">
                    </li>
                    <li>
                        <input type="radio" class="horizontal-space" id="hc31" name="hc3" value="1">
                    </li>
                    <li>
                        <input type="radio" class="horizontal-space" id="hc41" name="hc4" value="1">
                    </li>
                    <li>
                        <input type="radio" class="horizontal-space" id="hc51" name="hc5" value="1">
                        <label for="hc51">1</label>
                    </li>
                </ul>
            </div>
            <div class="control-group medium-100 small-100">
                <ul class="control unstyled inline">
                    <li>
                        <input type="radio" class="horizontal-space" id="hc10" name="hc1" value="0" checked="">
                    </li>
                    <li>
                        <input type="radio" class="horizontal-space" id="hc20" name="hc2" value="0" checked="">
                    </li>
                    <li>
                        <input type="radio" class="horizontal-space" id="hc30" name="hc3" value="0" checked="">
                    </li>
                    <li>
                        <input type="radio" class="horizontal-space" id="hc40" name="hc4" value="0" checked="">
                    </li>
                    <li>
                        <input type="radio" class="horizontal-space" id="hc50" name="hc5" value="0" checked="">
                        <label for="hc51">0</label>
                    </li>
                </ul>
            </div>
        </fieldset>
        <fieldset class="column-group quarter-gutters">
            <div class="control-group medium-100 small-100">
                <ul class="control unstyled inline">
                    <li>
                        <input type="radio" class="horizontal-space" id="dcA" name="dc" value="1">
                        <label for="">A</label>
                        <input type="radio" class="horizontal-space" id="dcB" name="dc" value="2">
                        <label for="">B</label>
                        <input type="radio" class="horizontal-space" id="dcC" name="dc" value="4">
                        <label for="">C</label>
                        <input type="radio" class="horizontal-space" id="dcD" name="dc" value="8">
                        <label for="">D</label>
                        <input type="radio" class="horizontal-space" id="dcE" name="dc" value="16">
                        <label for="">E</label>
                    </li>
                </ul>
            </div>
        </fieldset>
        <div>
            <input type="submit" name="sub" value="Submit" class="ink-button success" />
        </div>
    </form>
{% endblock %}