{% extends "base.html" %}
{% block head %}
<script type="text/javascript" src="/static/js/popi.js"></script>
{% endblock %}
{% block content %}
    <nav class="ink-navigation">
       <ul class="menu vertical grey rounded shadowed">
          {%  for device in devicedb %}
          <li>
            <a>

                {% if device.device_status == 0 %}
                    <button class="ink-button grey btn-on"  id="{{ device.id }}"><i class="icon-lightbulb"></i></button>
                    <button class="ink-button red btn-off"  id="{{ device.id }}"><i class="icon-off"></i></button>
                {% elif device.device_status == 1 %}
                    <button class="ink-button orange btn-on"  id="{{ device.id }}"><i class="icon-lightbulb"></i></button>
                    <button class="ink-button grey btn-off"  id="{{ device.id }}"><i class="icon-off"></i></button>
                    <button class="ink-button grey btn-timer"  id="{{ device.id }}"><i class="icon-time"></i></button>
                {% endif %}
                <strong>{{ device.name }}</strong>
            </a>
          </li>
          {% endfor %}
       </ul>
    </nav>

{% endblock %}
