{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block content %}
    <nav class="ink-navigation">
       <ul class="menu vertical grey rounded shadowed">
            <li><a href="/add"><button class="ink-button"><i class="icon-plus-sign"></i></button> Add device</a></li>
            <li><a href="/edit"><button class="ink-button"><i class="icon-edit-sign"></i></button> Edit device</a></li>
            <li><a href="/remove"><button class="ink-button"><i class="icon-remove-sign"></i></button> Remove device</a></li>
       </ul>
    </nav>
{% endblock %}